@model VersionEditViewModel

@{
    ViewData["Title"] = "Add new types";
}

<div class="panel panel-default" style="margin-top: 20px">
    <div class="panel-heading" style="font-size: 1.3em">Add a new type</div>
    <div style="padding-left: 16px; padding-bottom: 15px">
        
        <form asp-controller="Version" asp-action="Persist" method="post">
            <table>
                <tr>
                    <input type="hidden" asp-for="Id" />
                    <td><label asp-for="Brand">Car brand:</label></td>
                    <td>
                        <input style="margin: 10px 15px; width: 150px" type="text" asp-for="Brand" placeholder="Car brand"/>
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td><label asp-for="Model">Car model</label></td>
                    <td><input style="margin: 10px 15px; width: 150px" type="text" asp-for="Model" placeholder="Car model"/>
                    <span asp-validation-for="Model" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary" type="submit">Save new type</button></td>
                </tr>

            </table>
        </form>
    </div>
</div>
